.navbar{
    background-color: black;
}

.navlink{
    color: rgb(5, 14, 145);
    text-decoration: none;
    padding: 10px 25px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.navlink:hover{
    background-color: peachpuff;
}