
.navlink{
    color: rgb(4, 110, 4);
    text-decoration: none;
    padding: 10px 25px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.navlink:hover{
    background-color: peachpuff;
}